{% extends 'base.html' %}
{% block content %}

<div class="twit-detail">
    <div class="twit-box now-twit">
        <div class="author">
            <a href="{% url "twitter:mypage" thistwit.author_id %}">
                <div class="user-pp">
                    {% if thistwit.author.pp %}
                    <img src="{{ thistwit.author.pp.url }}" alt="">
                    {% else %}
                    <i class="fa-solid fa-user"></i>
                    {% endif %}
                </div>
                {{ thistwit.author }}
            </a>
        </div>
        <p class="twit-content">{{ thistwit.content }}</p>
        <span class="twit-date">{{ thistwit.create_date }}</span>
        {% if thistwit.parent %}
        <div class="parent-twit">
            <a href="{% url 'twitter:detail' thistwit.parent.id %}">
                <p class="author">{{ thistwit.parent.author }}</p>
                <p class="twit-content">{{ thistwit.parent.content }}</p>
                <span class="twit-date">{{ thistwit.parent.create_date }}</span>
            </a>
        </div>
        {% endif %}
        <div class="twit-btns">
            <a href="javascript:void(0)" class="reply-btn" value="답글"/>
                <i class="fa-solid fa-comment-dots"></i>
                <span>{{ thistwit.get_my_children }}</span>
            </a>
            {% if thistwit.author == request.user %}
            <a href="javascript:void(0)" class="delete-btn" value="삭제" data-uri="{% url 'twitter:twit_delete' thistwit.id %}" >
                <i class="fa-regular fa-trash-can"></i>
            </a>
            {% endif %}
        </div>
        <div class="twit-form-wrap" style="display:none;">
            <i class="fa-solid fa-reply fa-rotate-180"></i>
            <form action="{% url 'twitter:twit_create' %}" method="post" class="twit-form">
                {% csrf_token %}
                {{ form.as_p }}
                <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="reply-content" rows="10" placeholder="{% if not user.is_authenticated %}로그인 해주세요{% else %}답글을 입력해주세요.{% endif %}"></textarea>
                <input type="hidden" name="parent" id="reply-parent" value="{{ thistwit.id }}">
                <input type="submit" value="답글하기" class="nav-link">
            </form>
        </div>
    </div>

    
    <div class="child-twit-list">
        {% for child in thread %}
        <i class="fa-solid fa-reply fa-rotate-180"></i>
        <div class="reply-box">
            <div class="author">
                <div class="user-pp">
                    {% if child.pp %}
                    <img src="{{ child.pp.url }}" alt="">
                    {% else %}
                    <i class="fa-solid fa-user"></i>
                    {% endif %}
                </div>
                {{ child.author }}
            </div>
            <a href="{% url 'twitter:detail' child.id %}" class="twit-hover">
                <div class="twit-content">{{ child.content }}</div>
                <div class="twit-date">{{ child.create_date }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}