{% extends 'base.html' %}
{% block content %}
<div class="twit-area">
    <form action="{% url 'twitter:twit_create' %}" method="post" class="twit-form">
        {% csrf_token %}
        <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content" rows="10" 
        placeholder="{% if not user.is_authenticated %}로그인 해주세요{% else %}내용을 입력해주세요.{% endif %}"></textarea>
        <input type="submit" value="트윗하기" class="nav-link">
    </form>
    {% if twits %}
    <ul class="twit-list">
        {% for twit in twits %}
        <li class="twit-box">
            <p class="author">{{ twit.author.username }}</p>
            {% if twit.parent %}
            <div class='parent-twit'>
                <a href="{% url 'twitter:detail' twit.parent.id %}">
                    <p class="author">{{ twit.parent.author.username }}</p>
                    <p class="twit-content">{{ twit.parent.content }}</p>
                    <span class="twit-date">{{ twit.parent.create_date }}</span>
                </a>
            </div>
            {% endif %}
            <a href="{% url 'twitter:detail' twit.id %}">
                <p class="twit-content">
                    {% if twit.parent %}
                    <i class="fas fa-solid fa-reply fa-rotate-180"></i>
                    {% endif %}
                    {{ twit.content }}
                </p>
                <span class="twit-date">{{ twit.create_date }}</span>
            </a>
            <div class="twit-btns">
                <a href="javascript:void(0)" class="reply-btn" value="답글"/>답글</a>
                <a href="javascript:void(0)" class="delete-btn" value="삭제" 
                {% comment %} data-uri="{% url 'twitter:delete' twit.id %}"  {% endcomment %}
                ><i class="fa-regular fa-trash-can"></i></a>
            </div>
            <form action="{% url 'twitter:twit_create' %}" method="post" class="twit-form" style="display:none;">
                {% csrf_token %}
                {{ form.as_p }}
                <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="reply-content" rows="10" placeholder="{% if not user.is_authenticated %}로그인 해주세요{% else %}답글을 입력해주세요.{% endif %}"></textarea>
                <input type="hidden" name="parent" id="reply-parent" value="{{ twit.id }}">
                <input type="submit" value="답글하기">
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}