{% extends 'base.html' %}
{% block content %}

<div class="twit-detail">
    <div class="parent-twit">
        <p>{{ thistwit.parent.content }}</p>
    </div>
    <div class="this-twit">
        <p class="twit-content">{{ thistwit.content }}</p>
        <span class="twit-date">{{ thistwit.create_date }}</span>
    </div>

    {% for child in thistwit.get_all_children %}
    {{ child.content }}
    {% endfor %}

    {% for twit in twits %}
        {% if thistwit.parent == twit.content %}
        {% endif %}
    {% endfor %}

    {{ thread|json_script:'thread' }}
</div>

{% endblock %}

{% block script %}
    <script>
        const threadScript = document.getElementById("thread")
        const thread = JSON.parse(threadScript.innerHTML)
        
        
    </script>
{% endblock %}
