/* nav */
.nav-bar {
    height:70px;
    padding: 0 20%; 
    display:flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ddd; 
}
.nav-bar > div {
    
}
.login-out {
    
}
.user-name {
    font-weight: 600;
    margin-right:5px;
    color:#333; 
}
.nav-link {
    display: inline-block;
    padding:0 15px;
    line-height:30px;
    background-color: #3395d6;
    color:white; 
    border-radius: 15px;
    font-weight: bold;
    border:none;
    cursor: pointer;
}
.nav-link:disabled {
    background-color: #bbb;
    cursor:default;
}
.nav-link2 {
    display: inline-block;
    padding:0 15px;
    line-height:30px;
    background-color: white;
    color:#3395d6; 
    border-radius: 15px;
    font-weight: bold;
    border:none;
    cursor: pointer;
}

.logo a {
    color:rgb(51, 149, 214);
    font-weight: bold;
    font-size:25px; 
}

.twit-area {
    width:500px;
    margin:0 auto;
}
.twit-form-wrap{
    justify-content: space-between;
    align-items: flex-start;
    margin-top:10px; 
    padding-top:10px; 
    border-top:1px solid #ddd;
}
.twit-form-wrap i {
    font-size:.5em;
}
.twit-form-wrap .twit-form {
    margin:0;
    width:calc(100% - 20px);
}
.twit-form{
    border:2px solid #ccc;
    padding:10px;
    text-align: right;
    margin-bottom:30px; 
    margin-top:20px;
}
.twit-form textarea {
    width:100%;
    height:100px;
    resize: none;
    border:none;
}

.twit-box {
    padding:10px;
    margin-bottom:10px;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
}
.twit-box > a {
    display:block;
    cursor:pointer;
}
.twit-box > a p, .twit-box > a > span {
    /* cursor: default; */
}
.author {
    border-bottom:1px solid rgba(0,0,0,.1); 
    padding-bottom:5px;
    margin-bottom: 5px;
    font-size:.95em
}
.author a {
}
.user-pp {
    width:30px;
    height:30px;
    border-radius: 100%;
    overflow: hidden;
    display:inline-block;
    vertical-align: middle;
    margin-right:3px; 
    text-align: center;
}
.user-pp img {
    object-fit:cover;
    width:30px;
    height:30px;
    vertical-align: middle;
}
.user-pp i {
    width:30px;
    font-size: 25px;
    color:#eee;
    background-color: #bbb;
    padding-top:5px;
}
.parent-twit {
    background-color: #f5f5f5;
    color:#666;
    font-size:.9em;
    margin-top:5px; 
    transition:.1s; 
}
.parent-twit:hover {
    background-color:rgb(203, 239, 253);
    color:rgb(49, 143, 180);
}
.parent-twit a {
    display:block;
    padding:10px;
}
.twit-content {
    font-weight: 600;
    font-size:1.2em; 
    padding:5px 0;
}
.twit-content i {
    font-size:.5em; 
}
.twit-date{
    font-size:.8em;
    color:#777;
}
.twit-btns {
    margin-top:5px;
    text-align: right;
}
.twit-btns span {
    position: absolute;
    left:-6px;
    top:-3px;
    background-color: white;
    color:#3395d6;
    font-size:.7em;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    min-width:15px;
    height:15px; 
    line-height:15px;
}
.twit-btns a {
    width:28px;
    height:28px;
    display:inline-block; 
    border-radius: 100%;
    text-align: center;
    line-height:28px; 
}
.twit-btns a i {
    line-height: 28px;
    margin-top: -3px;
}
.reply-btn {
    color:#3395d6;
    position:relative;
}
.reply-btn:hover {
    background-color: #3395d6;
    color:white;
}
.delete-btn {
    color:rgb(228, 0, 0);
    margin-left:3px; 
}
.delete-btn:hover {
    background-color: rgb(228, 0, 0);
    color:white;
}
.twit-hover:hover {
    background-color: #eaf2f7;
}

/* detail page */
.twit-detail {
    width:500px;
    margin:30px auto;
}
.child-twit-list {
    /* border:1px solid #eee; */
}
.child-twit-list > i {
    width:15px;
    font-size:.8em;
    vertical-align: top;
    padding-bottom:15px;
}

.thread-line {
    width:4px;
    height:30px;
    background-color:#ddd; 
    margin: -10px 0 0 15px;
}
.now-twit {
    box-shadow: none;
    border:3px solid #3395d6;
}
.pp {
    position: relative;
}
#image_container {
    width:100%;
    position:absolute;
    left:0;
    top:0;

}
.image-container {
    width:100%;
    position:absolute;
    left:0;
    top:0;
    background-color: #333;
}
.reply-box {
    margin-top:10px; 
    padding:10px; 
    border:2px solid #ddd;
    border-radius:10px;
    width: calc(100% - 22px);
    display: inline-block;
}

/* profile */
.profile-wrap {
    border-bottom:1px solid #ddd; 
    padding: 20px 0;
    margin-bottom:20px; 
}
.profile {
    width:500px;
    height:150px;
    margin:0 auto;
    border-radius: 200px;
    border:3px solid #3395d6;
    padding:25px;
}
.profile > div {
    display: flex;
    align-items: center;
}
.profile-image {
    width:100px;
    height:100px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile-image img {
    object-fit:cover;
    width:100px;
    height:100px;
}
.profile-image i {
    width:100px;
    font-size: 90px;
    color:#eee;
    background-color: #bbb;
    padding-top:10px;
}
.profile-input {
    width:100px;
    height:100px;
    border-radius: 100%;
    overflow: hidden;
}
.profile-input .image-container {
    height:100%;
    background-color: black;
    opacity:.3;
    line-height:90px;
    text-align:center;
    color:white;
    font-size:3em; 
    cursor: pointer;
}
.profile-input:hover .image-container {
    opacity:.6;
}
.profile-text {
    padding-left:30px; 
}
.profile-text > div {
    margin-bottom:10px; 
}
.profile-text p {
    font-weight: 600;
    font-size:1.3em;
    line-height: 1em;
    margin-bottom:10px; 
}
.profile-text span {
    color:#777;
}
.profile-text span i {
    font-size:.8em;
    line-height: .8em;
    color:#aaa; 
}
.setting-btn {
    font-size:.9em;
    color:#999;
    text-align: center;
    border:1px solid white;
    width:20px;
    height:20px;
    display: inline-block;
}
.setting-btn i {
    width:100%;
    height:100%;
    vertical-align: top;
    transition:.2s;
}
.setting-btn:hover i {
    transform: rotate(180deg);
}
/* sign up */
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    justify-content: center;
}
.signup-form-wrap {
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border-radius: 10px;;
}
.signup-form-wrap > div {
}
.signup-form-wrap  > div label {
    display: block;
    margin-bottom:5px;
}
.signup-form-wrap  > div input {
    margin-bottom: 15px;
    width:300px;
    border:1px solid #aaa;
    border-radius: 0;
    line-height:40px;
}

/* reset.css */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul { list-style: none;}
img { min-width: 100%; display: block; } 
textarea:focus {outline:none;}
i {vertical-align: middle;}